<app-navbar></app-navbar>

<div style="width: 15%; margin: 2%;  position: absolute;">
  <h5 style="color: #276aa7" class="modal-title" id="staticBackdropLabel">
    SERVICIO
  </h5>
  <br/>
  <select class="form-control"  placeholder="idStatus"
    name="idStatus" id="idStatus" class="form-control">
    <option class="dropdown-item">

    </option>
  </select>

  <br/>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Consumos Totales</label>
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Consumo Comensal</label>
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Consumo Area</label>
  </div>

</div>

<div style="float: right; margin: 2%;">
  <br/><br/><br/>
  <input type="datetime-local" class="form-control" placeholder="Inicio" name="inicio" id="inicio" required>

  <input type="datetime-local" class="form-control" placeholder="Fin" name="fin" id="fin" required>
</div>




