<app-navbar></app-navbar>

<div style="width: 15%; margin: 2%; position: absolute">
  <h3 style="color: #276aa7" class="modal-title" id="staticBackdropLabel">
    SERVICIO
  </h3>
  <select  [(ngModel)]="this.servicio" class="btn btn-success" placeholder="idStatus" name="idStatus" id="idStatus" class="form-control">
    <option class="dropdown-item" value="0" selected>Todos</option>
    <option  *ngFor="let servicio of this.servicios" class="dropdown-item"  value="{{servicio.idServicio}}">
      {{ servicio.nombreServicio}}
    </option>
  </select>
  <br/>
  <button class="btn btn-success" (click)="exportAsXLSX()">EXCEL</button>

  <!-- <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
    <label class="form-check-label" for="flexSwitchCheckChecked">Consumos Totales</label>
  </div> -->

  <!-- <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
    <label class="form-check-label" for="flexSwitchCheckDefault">Consumo Comensal</label>
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
    <label class="form-check-label" for="flexSwitchCheckDefault">Consumo Area</label>
  </div> -->
</div>

<br />
<div style="float: right; margin: 2%">
  <input [(ngModel)]="inicio" type="date"  placeholder="dd-mm-yyyy" class="form-control" placeholder="Inicio" name="inicio" id="inicio"
    required />
  <br />
  <input [(ngModel)]="fin" type="date" class="form-control" placeholder="Fin" name="fin" id="fin" required />
  <br />
  <button (click)="filtrar()" type="button" class="btn btn-outline-primary">
    Filtrar
  </button>

  <!-- <form action="" method="post" enctype="multipart/form-data">
    <input (onchange)="importASXLSX($event)" type="file"  id="archivoParaSubir" />
    <input type="file" (click)="importASXLSX($event)" value="Subir archivo" name="submit">
    </form> -->

    <!-- <div class='loadExcelInput'>
    <p>Open Excel File</p>
  <input type="file" name="files[]" multiple id="jsonFile" accept=".xlsx" (change)="importASXLSX($event)" />
</div> -->

</div>

<!-- Table -->
<div class="scrollbar scrollbar-primary" style="width: 100%">
  <div class="force-overflow">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">#</th>
          <th scope="col">id Empleado</th>
          <th scope="col">id Servicio</th>
          <th scope="col">Nombre Comensal</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reporte of this.reportes">
          <th scope="row">
            <!-- Button trigger modal -->
            <!-- <button (click)="toOpenEditEmployee(reporte)" type="button" class="btn btn-secondary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
                viewBox="0 0 16 16">
                <path
                  d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
              </svg>
            </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#employeeModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
            </button> -->

            <!-- Modal -->
            <div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: black">
                      Borrar
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p style="color: black">
                      Esta Usted Seguro de Eliminar el Usuario ?
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                      Cancelar
                    </button>
                    <button (click)="delteEmployee(reporte.idReporte)" type="button" class="btn btn-danger">
                      Borrar
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </th>
          <td>{{ reporte.idReporte }}</td>
          <td>{{ reporte.idEmpleado }}</td>
          <td>{{ reporte.idServicio }}</td>
          <td>{{ reporte.nombreComensal }}</td>
          <td>{{ reporte.fecha }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Table -->

