<app-navbar></app-navbar>
<div class="container">
  <br />
  <!--Card modal -->
  <div class="card">
    <h3 class="card-header display-4">Panel de administración</h3>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <div class="accordion" id="accordionExample">
        <!--Accordion-item modal Empployees-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button style="color: #276aa7;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <b>Administración</b>&nbsp; Empleado
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Empleados Administración.</strong> Agregar Editar Ver y Borrar
              Empleados. <br /><br />
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalEmployees">
                Abrir
              </button>
              <!-- Button trigger modal -->
              <app-employee-admin></app-employee-admin>
            </div>
          </div>
        </div>
        <!--Accordion-item modal Employees-->

        <!--Accordion-item modal Records-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button style="color: #419fce;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <b>Administración</b>&nbsp; Registros
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Registros Administración.</strong> Agregar Editar Ver y Borrar
              Registros. <br /><br />
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalRecords">
                Abrir
              </button>
              <!-- Button trigger modal -->
              <app-record-admin></app-record-admin>
            </div>
          </div>
        </div>
        <!--Accordion-item modal Records-->

        <!--Accordion-item modal -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button style="color: #93c01f;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <b>Administración</b>&nbsp; Servicios
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Servicios Administración.</strong> Agregar Editar Ver y Borrar
              Servicios. <br /><br />
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalServices">
                Abrir
              </button>
              <!-- Button trigger modal -->
              <app-service-admin></app-service-admin>
            </div>
          </div>
        </div>
        <!--Accordion-item modal -->

        <!--Accordion-item modal -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button style="color: #419fce;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <b>Administración</b>&nbsp; Estatus
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Estatus Administración.</strong> Agregar Editar Ver y Borrar
              Estatus. <br /><br />
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalStatus">
                Abrir
              </button>
              <!-- Button trigger modal -->
              <app-status-admin></app-status-admin>
            </div>
          </div>
        </div>
        <!--Accordion-item modal -->

        <!--Accordion-item modal -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button style="color: #276aa7;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <b>Administración</b>&nbsp; Tipos de Usuario
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Usuario Administración.</strong> Agregar Editar Ver y Borrar
              Usuario. <br /><br />
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalTypeUsers">
                Abrir
              </button>
              <!-- Button trigger modal -->
              <app-typeUser></app-typeUser>
            </div>
          </div>
        </div>
        <!--Accordion-item modal -->
      </div>
    </div>
  </div>
  <!--Card modal -->
</div>

<br />
<hr />
