<app-navbar></app-navbar>
<div class="container">
  <br />
  <!--Card modal -->
  <div class="card">
    <h3 class="card-header display-4">Administración de catalogos</h3>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <div class="accordion" id="accordionExample">
        <!--Accordion-item modal Empployees-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading1">
            <button style="color: #93c01f;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
              <b>Administración</b>&nbsp; Empleados y Comensales
            </button>
          </h2>
          <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Empleados Administración.</strong> Agregar Editar Ver y Borrar
              Empleados. <br /><br />
              <!-- Button trigger modal -->
              <a class="btn btn-outline-primary" href="/empleados">Abrir</a>
              <!-- Button trigger modal -->
            </div>
          </div>
        </div>
        <!--Accordion-item modal Employees-->

        <!--Accordion-item modal -->
        <!-- <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button style="color: #93c01f;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <b>Administración</b>&nbsp; Registro de terceros
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Registro de terceros Administración.</strong> Agregar Editar Ver y Borrar
              Registro de terceros. <br /><br />
              Button trigger modal
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalServices">
                Abrir
              </button>
              Button trigger modal
              <app-service-admin></app-service-admin>
            </div>
          </div>
        </div> -->
        <!--Accordion-item modal -->

        <!--Accordion-item modal -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button style="color: #276aa7;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <b>Administración</b>&nbsp; Servicio
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Servicio Administración.</strong> Agregar Editar Ver y Borrar
              Servicio. <br /><br />
              <!-- Button trigger modal -->
              <!-- <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalServicio">
                Abrir
              </button> -->
              <a class="btn btn-outline-primary" href="/servicio">Abrir</a>
              <!-- Button trigger modal -->
              <!-- <app-servicio></app-servicio> -->
            </div>
          </div>
        </div>
        <!--Accordion-item modal -->

        <!--Accordion-item modal -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button style="color: #419fce;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <b>Administración</b>&nbsp; Estatus
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Estatus Administración.</strong> Agregar Editar Ver y Borrar
              Estatus. <br /><br />
              <!-- Button trigger modal -->
              <!-- <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalEstatus">
                Abrir
              </button> -->
              <a class="btn btn-outline-primary" href="/estatus">Abrir</a>
              <!-- Button trigger modal -->
              <!-- <app-estatus></app-estatus> -->
            </div>
          </div>
        </div>
        <!--Accordion-item modal -->


        <!--Accordion-item modal -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button style="color: #93c01f;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <b>Administración</b>&nbsp; Tipo de empleados
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Tipo de empleados Administración.</strong> Agregar Editar Ver y Borrar
              Tipo de empleados. <br /><br />
              <!-- Button trigger modal -->
              <!-- <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modaltipoEmpleados">
                Abrir
              </button> -->
              <a class="btn btn-outline-primary" href="/tipoEmpleado">Abrir</a>
              <!-- Button trigger modal -->
              <!-- <app-tipo-empleados></app-tipo-empleados> -->
            </div>
          </div>
        </div>
        <!--Accordion-item modal -->


        <!--Accordion-item modal -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button style="color: #276aa7;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              <b>Administración</b>&nbsp; Area
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Area Administración.</strong> Agregar Editar Ver y Borrar
              Area. <br /><br />
              <!-- Button trigger modal -->
              <!-- <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalArea">
                Abrir
              </button> -->
              <a class="btn btn-outline-primary" href="/area">Abrir</a>
              <!-- Button trigger modal -->
              <!-- <app-area></app-area> -->
            </div>
          </div>
        </div>
        <!--Accordion-item modal -->


      </div>
    </div>
  </div>
  <!--Card modal -->
</div>

<br />
<hr />
